* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

header {
    height: 50px;
    width: 100%;
}

header .main-navigation {
    display: none;
}

main {
    padding: 0px 5px;
    min-height: 50px;
    width: 100%;
    font-family: Montserrat, Arial, Sans-Serif;
}
main .goal-section{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
main .goal-section #goal-tag{
    display: inline-block;
    font-weight: bold;
    padding-top: 12px;
    font-size: 1.58rem;
    width: 20%;
}
.goal-section button{
    margin-top: 10px;
}
main .goal-section ~ hr {
    margin: auto;
    margin-bottom: 20px;
    background-color: cadetblue;
    height: 2px;
    width: 100%;
    border: none;
}

main input[type="text"]{
    width: 70%;
}
#user-tasks {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 15px;
    margin-bottom: 10px;
}
#user-tasks hr:nth-child(1){
    display: none;
}
#user-tasks hr{
    border: none;
    background-color: lightgreen;
    width: 150px;
    height: 2px;
}
#user-tasks .tasks-created {
    display: grid;
    grid-template-columns: 51px auto auto;
    grid-template-rows: 30px auto auto auto;
    grid-row-gap: 10px;
}
#user-tasks .user-subtask{
    grid-column: 1 / 4;
}
.user-subtask{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 5px;
}

#user-tasks .user-subtask{
    grid-column: 2 / 4; 
    padding-left: 10px;
} 

.tasks-created .delete-task, .user-subtask .delete-subtask{
    grid-area: 1 / 2 / 2 / 4;
    justify-self: center;
    align-self: center;
    height: 25px;
    margin-left: 30px;
    width: 50%;
}

.tasks-created .priority-level-section {
    grid-area: 2 / 1 / 3 / 2;
}
.tasks-created .user-todo, .user-subtask .user-todo{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 25px;
}
.tasks-created .complete-task, .user-subtask .complete-subtask{
    justify-self: center;
    grid-area: 2 / 3 / 3 / 4;
}
.tasks-created .stop-time, .user-subtask .stop-time{
    grid-area: 3 / 2 / 4 / 4; 
}
.tasks-created .subtask, .user-subtask .save-subtask{
    grid-column: 1 / 3; 
    align-self: center;
}
.tasks-created .priority-level{
    width: 20px;
}
.tasks-created .LOR-error-message {
    display: none;
}
@media only screen and (min-width: 640px){
    main{
        margin: auto;
        margin-top: 30px;
        width: 60%;
    }
}

@media only screen and (min-width: 768px){
    main{
        width: 40%;
    }
}

@media only screen and (min-width: 1024px){
    main{
        width: 30%;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    min-height: 100px;
    width: 100%;
}

footer > p {
    text-align: center;
    width: 100%;
}